<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/main_layout}"
      xmlns:th="https://www.thymeleaf.org">

<div class="container" layout:fragment="content">

    <h1>Open Bank Account</h1>
    <form th:action="@{/bankaccount}" method="POST">

        <div class="form-group">
            <label for="inputCustomer">Customer Id</label>
            <input type="text" class="form-control" name="customerId" id="inputCustomer">
        </div>

        <div class="form-group">
            <label for="inputType">Type</label>
            <input type="text" class="form-control" name="type" id="inputType">
        </div>

        <div class="form-group">
            <label for="inputBalance">Balance</label>
            <input type="text" class="form-control" name="balance" id="inputBalance">
        </div>

        <div class="form-group">
            <input type="submit" class="btn btn-primary">
        </div>

    </form>
    <hr>

    <h1>All Bank Accounts</h1>

    <table class="table table-bordered table-striped">
        <thead class="thead-light">
        <tr>
            <th>Id</th>
            <th>CustomerId</th>
            <th>Type</th>
            <th>Balance</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="account : ${bankaccounts}">
            <td th:text="${account.id}"></td>
            <td th:text="${account.customerId}"></td>
            <td th:text="${account.type}"></td>
            <td th:text="${account.balance}"></td>
        </tr>
        </tbody>
    </table>
</div>